* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

/* start header */

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.header__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header__container nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s;
}
.header__container nav a:hover {
  color: #e62b4a;
}
.header__container .active {
  color: #e62b4a;
}

.header__container .logo {
  color: white;
  font-weight: 500;
  font-size: 2rem;
}

/* trục chính : mặc định là chiều ngang

justify-content: trục chính

align-item : trục phụ

trục chính : justify-content
*/
/* end header */

/* start carousel */

.carousel {
  height: 100vh;
  min-height: 500px;
  background-image: url(./image-video/home_slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caousel__container {
  width: 60%;
  height: max-content;
  text-align: center;
  color: white;
}
.caousel__container h2 {
  font-size: 5rem;
  margin: 20px 0;
  font-weight: 700;
}
.caousel__container p {
  font-size: 2rem;
}

.caousel__container button {
  width: 150px;
  height: 60px;
  background: #e62b4a;
  border: none;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  /* font-weight: lighter; */
}
.caousel__container i {
  margin-top: 20px;
  font-size: 2rem;
  animation-name: animate_arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
/* end carousel */

/* start service */

.service {
  padding: 80px 0;
  background: black;
}

.service .slider__item {
  height: 200px;
  padding: 15px;
}
.item__wrapper {
  background: white;

  height: 100%;
  width: 100%;
  display: flex;
  /* thay đổi trục chính thành chiều dọc */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.item__wrapper::before {
  content: "";
  display: block;
  position: absolute;
  height: 0px;
  width: 5px;
  /* opacity: 0; */
  /* visibility: hidden; */
  background: #e62b4a;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}
.item__wrapper:hover::before {
  height: 100%;
}

.service .service__slider {
  width: 100%;
}
/* end service */

/* start blog */
.blog {
  padding: 80px 0;
}
.blog__list {
  width: 100%;
  /* background: red; */
  /* aspect-ratio: 1 /1; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.blog__list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: grayscale(50%) contrast(50%);
}
.blog__item {
  position: relative;
}
.blog__item-1 {
  grid-column: 1 / 3;
  /*  start  / end */
  grid-row: 1 / span 2;
  /* start, số lượng */
}
.blog__item-10 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}
.item__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(230, 43, 74, 0.6);
  transition: 0.3s;
}
.blog__item:hover .item__overlay {
  opacity: 1;
}
.item__overlay .search {
  width: 50px;
  height: 50px;
  background: white;
  position: absolute;
  top: 60px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 1; */
  transition: 0.3s;
}
.blog__item:hover .search {
  top: 30px;
}

.overlay__title {
  color: white;
  position: absolute;
  left: 30px;
  bottom: 30px;
}

/* start number */

.number {
  padding: 80px 0;
  background: #000;
  color: white;
}

.number__list {
  width: 100%;

  display: flex;
  justify-content: space-around;
  text-align: center;
}
.number__list .number__item span {
  font-size: 3rem;
  /* font-size: 54px; */
}
html {
  font-size: 18px;
}
/* end number */

.back-to-top {
  bottom: 100px;
  right: 100px;
  background: rgb(169, 162, 162);
  border-radius: 8px;
  position: fixed;
  width: 50px;
  height: 50px;
}

/* end blog */
@keyframes animate_arrow {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(100px);
    opacity: 0;
  }
}

/* #demo {
  position: relative;
}

#demo::before {
  content: "hello";
  display: inline;
  color: red;
  position: absolute;
  bottom: -100px;
} */
